*{
font-family: 'Times New Roman', Times, serif;
box-sizing: border-box;

}
.mains{
    background-color: rgb(139, 139, 249);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.1);
    border-radius: 10px;
    width: 30rem;
    height: auto;
    margin: auto;
    

} 
form{
    background-color: rgb(136, 161, 244);
    width: 30rem;
    border-radius: 10px;
    
}
.container{
    background-color: rgb(163, 179, 232);
    border-radius: 10px;

}
p{
    display: inline;
    font-size: 1rem;
    margin: 1rem;
}
.btn{
    display: inline-block;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}
h1{
    text-align: center;
}
input{
    
    width: 20rem;
    height: 2rem;
    margin-left:3rem;

}
 

button{
    background-color: rgb(72, 72, 214);
    color: white;
    border: none;
    border-radius: 4px;
}
.edit{

padding: 3px 2px 3px 3px ;
color: white;

}
.del{
    padding: 3px 2px 3px 3px ;

    color: white;

} 
.btn-container{
    margin-top: 15px;
}
.grocery-item{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
   background-color: rgb(84, 140, 213);
   color: white;
   font-size: 5px;

    
}
.clear-btn{
    display: block;
    width: 6rem;
    height: 2rem;
    font-size:1rem;
   margin:auto;
   margin-top: 2rem;
   margin-bottom: 1rem;
}
.show-btn{
    visibility: hidden;
}
