*{
    font-family:  'roboto', cursive;
    box-sizing: border-box;
}

#main{
    height: auto;
    width: 30rem;
    background-color: rgb(243, 226, 193);
    margin-top: 5rem;
    align-self: center;
    margin-left: 30rem;
    border-radius: 5px;
    
    /* border-radius:50px; */
}
h1{
    padding-left: 11rem;
    padding-top: 2rem;
}
input{
    width: 70%;
    height:4%;
    border: none;
    margin-left: 1.5rem;
    box-shadow:3px 3px 2px 2px rgba(240, 213, 156, 0.9);
    font-size: large;
}
#btn{
    background-color :rgb(242, 177, 92);
    width: 15%;
    height: 4%;
   margin-top: 1ch;
   color: white;
   font-weight: bold;
   margin-left: 0.3rem;
    font-size: large;
    border:none;
    border-color: rgb(245, 186, 110);
    box-shadow: 3px 3px 2px 2px rgba(240, 200, 147,0.9);

}
#btn:hover{
background-color: rgb(236, 178, 70);
color:white;
}
.list{
    display: flex;
    justify-content: space-around;
    background-color: rgb(233, 163, 77);
    width: 85%;
    height: 3rem;
    margin-left: 1.5rem;
    margin-bottom: 4rem;

}


p{
    display: inline-block;
    font-size:2rem;
    margin-top: 5px;

}

.btns{
    display: inline;
    font-size:6rem;
    margin-top: -55px;
    background-color: transparent;

}
.fbtn{
    background-color: transparent;
    border: none;
}

.clear-btn{
    /* display: block;  */
    width: 10rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-left: 11rem;
  
   
    background-color: orange;
    border: none; 
    padding: auto;
   height: 2rem;
   color: white;
   font-weight: bold;
   
    font-size: large;
    border:none;
    border-color: rgb(236, 158, 55);
    /* box-shadow: 3px 3px 2px 2px rgba(240, 200, 147,0.9); */

}
